@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 215 30% 15%;

    --primary: 217 91% 60%;
    --primary-foreground: 0 0% 100%;

    --accent: 27 90% 55%;
    --accent-foreground: 0 0% 100%;

    --muted: 215 30% 95%;
    --muted-foreground: 215 20% 30%;

    --card: 0 0% 100%;
    --card-foreground: 215 30% 15%;

    --border: 215 30% 88%;
    --input: 215 30% 90%;
    --ring: 217 91% 60%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 215 30% 8%;
    --foreground: 0 0% 100%;

    --primary: 217 91% 70%;
    --primary-foreground: 215 30% 10%;

    --accent: 27 90% 60%;
    --accent-foreground: 0 0% 10%;

    --muted: 215 30% 20%;
    --muted-foreground: 215 20% 85%;

    --card: 215 30% 12%;
    --card-foreground: 0 0% 100%;

    --border: 215 30% 25%;
    --input: 215 30% 25%;
    --ring: 217 91% 70%;

    --destructive: 0 60% 45%;
    --destructive-foreground: 0 0% 100%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
